section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
}
div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 56px;
    font-weight: bold;
}